@font-face {
    font-family: "Kumbh_Sans";
    src: url(../Kumbh_Sans/static/KumbhSans-Black.ttf);
}
@font-face {
    font-family: "Kumbh_Sans";
    src: url(../Kumbh_Sans/static/KumbhSans-Bold.ttf);
}
@font-face {
    font-family: "Kumbh_Sans";
    src: url(../Kumbh_Sans/static/KumbhSans-ExtraBold.ttf);
}
@font-face {
    font-family: "Kumbh_Sans";
    src: url(../Kumbh_Sans/static/KumbhSans-ExtraLight.ttf);
}
@font-face {
    font-family: "Kumbh_Sans";
    src: url(../Kumbh_Sans/static/KumbhSans-Light.ttf);
}
@font-face {
    font-family: "Kumbh_Sans";
    src: url(../Kumbh_Sans/static/KumbhSans-Medium.ttf);
}
@font-face {
    font-family: "Kumbh_Sans";
    src: url(../Kumbh_Sans/static/KumbhSans-Regular.ttf);
}
@font-face {
    font-family: "Kumbh_Sans";
    src: url(../Kumbh_Sans/static/KumbhSans-SemiBold.ttf);
}
@font-face {
    font-family: "Kumbh_Sans";
    src: url(../Kumbh_Sans/static/KumbhSans-Thin.ttf);
}